<h3>{{(!account.id? 'create.account' : 'edit.account') | translate}}</h3>

<form name="form" novalidate>
	<div class="row">
		<div class="form-group col-md-6">
			<label>name</label>
			<input type="text" class="form-control" ng-model="account.name" name="name" placeholder="{{'name' | translate}}" required
				ng-minlength="5" ng-maxlength="100" ng-disabled="account.id" unique>
			<div ng-messages="form.name.$error" ng-if="form.name.$dirty" class="has-error">
				<div class="help-block" ng-message="required">{{'field.required' | translate}}</div>
				<div class="help-block" ng-message="minlength, maxlength">{{'field.should.be.between' | translate}} 5 : 100 {{'characters' |
					translate}}</div>
				<div class="help-block" ng-message="unique">{{'field.duplicate' | translate}}</div>
			</div>
		</div>

		<div class="form-group col-md-6">
			<label>phone</label>
			<input type="text" class="form-control" ng-model="account.phone" name="phone" placeholder="{{'phone' | translate}}" required
				ng-pattern="/^01([1-4]|[6-7])\d{7}$/" unique>
			<div ng-messages="form.phone.$error" ng-if="form.phone.$dirty" class="has-error">
				<div class="help-block" ng-message="required">{{'field.required' | translate}}</div>
				<div class="help-block" ng-message="pattern">{{'field.invalid.pattern.phone' | translate}}</div>
				<div class="help-block" ng-message="unique">{{'field.duplicate' | translate}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6" ng-if="account.id">
			<label>enabled</label>
			<div class="btn-group">
				<label class="btn btn-primary" style="width: 100px;" ng-model="account.enabled" uib-btn-radio="true" translate>enabled_true</label>
				<label class="btn btn-primary" style="width: 100px;" ng-model="account.enabled" uib-btn-radio="false" translate>enabled_false</label>
			</div>
		</div>

		<div class="form-group col-md-6">
			<input type="button" class="btn btn-primary" ng-click="form.$valid && saveAccount()"
				value="{{(!account.id ? 'create' : 'update') | translate}}" ng-disabled="form.$invalid" />
			<a type="button" class="btn btn-default" href="/accounts">Back</a>
		</div>
	</div>

	<div class="row"></div>
</form>